# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# ROS and workspace build outputs
install/
log/
*results/
foxglove_layout_project/output/

build/
docs_backup/

# VS Code
.vscode/

# OS files
.DS_Store

# Local Python virtualenvs
venv/
env/
/.venv/

# Pytest cache
.pytest_cache/

# JetBrains
.idea/
# docs_new/
docs_old/
# foxglove
# foxglove_layout_project/
CLAUDE.*
.trae/

# 三个附属文件夹
标准文档/
auv_console_python/
VXworks程序/
csd_vx6.8*
.auv_data/
# docs/thesis
# docs/real_delpoyment
